

<!--<div class="top-main">
  <h1>welcom to<span><i class="fa-solid fa-book"></i></span><span class="Bookers">Bookers</span>!!</h1>
  <div class="top-btn">
    <span class="log-in-btn "><%= link_to "Log In", new_user_session_path %></span>
    <span class="sign-up-btn"><%= link_to "Sign Up", new_user_registration_path %></span>
  </div>
</div> -->
<div class="box">
  <h1>welcom to<span><i class="fas fa-book"></i></span><span class="Bookers">Bookers</span>!!</h1>
  <p>In<span><i class="fa-solid fa-book"></i></span><span class="Bookers">Bookers</span></p>
  <p>you can share and exchange your opinions , inpressions , and emotions</p>
  <p>about various books!</p>
  <div class="container mx-auto">
    <div class="row">
      <span class="btn btn-info btn-block md-5 "><%= link_to("Log in", new_user_session_path, class: "text-light") %></span>
      <span class="btn btn-success btn-block "><%= link_to("Sign up", new_user_registration_path, class: "text-light") %></span>
    </div>
  </div>
</div>